.container {
	display: flex;
	flex-wrap: wrap;
}

.g1_2 {
	width: 100%;
}

.linkCard {
	border: 4px solid #000;
	display: flex;
	margin-bottom: 2rem;
	margin-right: 0px;
}

.linkCard img {
	width: 100%;
}

.linkCard:hover {
	border-color: var(--primary-colour);
}

.floatRight {
	float: right;
	margin-left: 2rem;
	border: 4px solid var(--base-colour);
	border-radius: 50%;
}

.blog h3 {
	font-size: var(--h3-size-m);
	font-family: var(--text-font);
}

.tags {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.tag {
	font-size: var(--caption-size-m);
	font-family: var(--text-font);
	color: var(--base-colour);
	background-color: var(--primary-soft-colour);
	text-align: center;
	padding: 10px 20px;
	margin-right: 15px;
	border-radius: 10px;
}

.blog {
	border-bottom: 1px solid var(--base-colour);
	padding-bottom: 20px;
}

.blog .content {
	font-size: var(--text-size-m);
	font-family: var(--text-font);
	margin-bottom: 20px;
}

.buttonLink {
	background-color: var(--primary-colour);
	font-size: var(--text-size-m);
	font-family: var(--heading-font);
	color: var(--inverse-colour);
	border-radius: 10px;
	padding: 10px 20px;
	display: inline-block;
	text-decoration: none;
}

.buttonLink:hover,
.buttonLink:active {
	color: var(--inverse-colour);
	background-color: var(--primary-active-colour);
	text-decoration: none;
}

@media all and (min-width: 1024px) {
	.g1_2 {
		width: 50%;
	}

	h2 {
		font-size: var(--h2-size-d);
	}

	p {
		font-size: var(--text-size-d);
	}

	.blog h3 {
		font-size: var(--h3-size-d);
	}

	.tag {
		font-size: var(--caption-size-d);
	}

	.linkCard {
		display: inline-flex;
		margin-right: 50px;
	}
}