.header {
	text-align: center;
	display: block;
	margin-top: 3rem;
}

.header h1 {
	font-size: 4rem;
	color: var(--primary-colour);
	font-family: 'Mochiy Pop One', sans-serif;
	margin: 0 0 2rem;
}

.header a {
	text-decoration: none;
}

nav,
nav.closed {
	visibility: hidden;
	height: 0px;
	overflow: hidden;
}

nav.open {
	visibility: visible;
	height: auto;
}

nav a,
nav a:visited {
	font-size: 4.5rem;
	color: #000;
	font-family: 'Rampart One', cursive;
	display: block;
	text-decoration: none;
}

nav a:hover {
	color: var(--primary-colour);
}

nav a.active {
	color: var(--primary-colour);
}

button.round {
	width: 40px;
	height: 40px;
	line-height: 1;
	padding: 1rem;
	border: none;
	background-color: var(--primary-colour);
	border-radius: 20px;
	cursor: pointer;
}

button.round:hover {
	background-color: var(--primary-active-colour);
}

button.round svg {
	width: 100%;
	height: auto;
	color: var(--inverse-colour);
	fill: currentColor;
}

@media all and (min-width: 1024px) {
	nav,
	nav.open,
	nav.closed {
		visibility: visible;
		height: initial;
		overflow: auto;
		display: inline-flex;
		width: 600px;
		margin: 0 auto;
		justify-content: space-between;
	}

	.header h1 {
		font-size: 5rem;
	}

	nav a {
		font-size: 4.5rem;
		display: inline;
	}

	button.round {
		display: none;
	}
}
