@import url("https://fonts.googleapis.com/css?family=Courgette&text=Jane%20Doe");

:root {
	--base-colour: #454545;
	--primary-colour: #FF7100;
	--primary-active-colour: #FFB300;
	--inverse-colour: #fff;
	--heading-font: 'Mochiy Pop One', sans-serif;
	--h2-size-m: 2.8rem;
	--h2-size-d: 4rem;
	--text-font: 'Nunito', sans-serif;
	--text-size-m: 1.6rem;
	--text-size-d: 1.6rem;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0 1vw;
	margin: 0;
	background: #FAFAFA;
	font-family: var(--text-font);
	font-weight: 400;
	color: var(--base-colour);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}


a {
	text-decoration: none;
	color: #333;
}

.loading {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f9;
	background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	position: relative;
}

@keyframes placeHolderShimmer{
  0% {
      background-position: -468px 0;
  }
  100% {
      background-position: 468px 0;
  }
}